@theme {
  --color-fairy-primary: #6d4dfc;
  --color-fairy-primary-deep: #5638e8;
  --color-fairy-secondary: #ff69b4;
  --color-fairy-reader: #ffa629;

  --color-novel-primary: #6c4ef6;
  --color-novel-primary-hover: #5b3fe8;
}
